@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Montserrat:wght@600&family=Russo+One&display=swap");
body {
  background: #252525;
  font-family: "Didact Gothic", sans-serif;
  color: #fff;
}
body,
html {
  height: 100vh;
}
.content {
  display: grid;
  grid-template-columns: 110px 1fr;
  grid-template-rows: 98px 1fr;
  height: 100%;
}
.content-sidebar {
  border-right: 1px solid #505050;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content-sidebar__button {
  display: block;
  width: 100%;
  height: 98px;
  background: linear-gradient(127.44deg, #505050 0%, #383838 100%);
  border: none;
  position: relative;
}
.content-sidebar__button::after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background-image: url(../images/menu.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 12px);
}
.content-sidebar__list {
  list-style: none;
  margin-bottom: 60px;
  padding-left: 0px;
}
.content-sidebar__item {
  margin-top: 63px;
}
.content-sidebar__item:first-child {
  margin-top: 0px;
}
.content-sidebar__link {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0px auto;
  background-repeat: no-repeat;
  background-position: center center;
}
.content-sidebar__fb {
  background-image: url(../images/fb.svg);
}
.content-sidebar__inst {
  background-image: url(../images/inst.svg);
}
.content-sidebar__tlg {
  background-image: url(../images/telegram.svg);
}
.content-header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 70px;
  padding-left: 60px;
}
.content-header__list {
  list-style: none;
  padding-left: 0px;
  margin: 0;
  display: flex;
  align-items: center;
}
.content-header__item {
  margin-left: 36px;
}
.content-header__item:first-child {
  margin-left: 0px;
}
.content-header__link {
  color: #fff;
  text-decoration: none;
  font-size: 17px;
  position: relative;
}
.content-header__link.active {
  color: #ffe600;
}
.content-header__link::after {
  content: "";
  width: 22px;
  height: 2px;
  background-color: #ffe600;
  display: block;
  position: absolute;
  bottom: -14px;
  opacity: 0;
  transition: 0.2s;
}
.content-header__link.active::after,
.content-header__link:hover::after {
  opacity: 1;
}
.content-header__logo {
  display: block;
  width: 220px;
  height: 28px;
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.content-main {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
.swiper {
  height: calc(100vh - 98px);
  position: relative;
  /* display: flex; */
}
.swiper-wrapper {
  /* width: 100%; */
  flex-basis: 500px;
  position: static;
}
.swiper-slide {
  /* margin-left: 50%; */
}
.swiper-slide__img {
  position: absolute;
  left: 10%;
  width: 45%;
  bottom: 0px;
}
.swiper-body {
  margin-left: 55%;
  margin-top: 100px;
  top: 100px;
}
.swiper-body__title {
  /* font-family: "Montserrat", sans-serif;
  font-weight: 600; */
  font-size: 33px;
  line-height: 120%;
}
.swiper-body__title span {
  position: relative;
}
.swiper-body__title span::before,
.swiper-body__title span::after {
  content: "Надежный сервис";
  position: absolute;
  width: 100%;
  z-index: -1;
}
.swiper-body__title span::before {
  top: 0px;
  left: -2px;
  color: #fb258b;
}
.swiper-body__title span::after {
  bottom: -1px;
  left: 1px;
  color: #5025fb;
}
.swiper-body__desc {
  font-size: 20px;
  line-height: 139.5%;
  color: #bcbcbc;
}
.swiper-body__btn {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
  padding: 14px 21px;
}
.swiper-body__buttons {
  display: flex;
  align-items: center;
  margin-top: 42px;
}
.swiper-body__btn-1 {
  color: #252525;
  background-color: #fff;
  position: relative;
  margin-right: 30px;
}
.swiper-body__btn-1::before,
.swiper-body__btn-1::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}
.swiper-body__btn-1::before {
  top: -3px;
  left: -3px;
  background-color: #fb258b;
}
.swiper-body__btn-1::after {
  bottom: -3px;
  left: 3px;
  background-color: #5025fb;
}
.swiper-body__btn-2 {
  font-size: 16px;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  padding: 14px 21px 14px 52px;
  position: relative;
}
.swiper-body__btn-2:hover {
  background-color: #5025fb;
  transition: 0.2s;
}
.swiper-body__btn-2::before {
  content: "";
  display: block;
  background-image: url(../images/watch.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 22px;
  height: 18px;
  position: absolute;
  top: calc(50%-8px);
  left: 21px;
}
.swiper-body__btn-1:hover::before,
.swiper-body__btn-1:hover::after {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transition: 0.2s;
}
.swiper-pagination-vertical.swiper-pagination-bullets,
.swiper-vertical > .swiper-pagination-bullets {
  right: inherit;
  left: 60px;
  top: 300px;
  position: absolute;
  width: 203px;
  flex-basis: 203px;
  /* z-index: -1; */
}
.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin-top: 45px;
  margin-bottom: 45px;
}
.swiper-pagination-bullet-active {
  background: transparent;
}
.swiper-pagination-bullet {
  background: transparent;
  width: inherit;
  height: inherit;
  text-align: left;
  font-family: "Russo One", sans-serif;
  font-size: 34px;
}
.swiper-pagination-bullet span {
  display: block;
}
.swiper-pagination-bullet span:nth-child(1) {
  font-size: 23px;
  font-family: "Didact Gothic", sans-serif;
}
.swiper-pagination-bullet span:nth-child(2) {
  font-size: 17px;
  font-family: "Didact Gothic", sans-serif;
  opacity: 50%;
}
.swiper-footer {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  /* background: #f00; */
  background: linear-gradient(
    270deg,
    rgba(66, 66, 66, 0.49) 0%,
    rgba(66, 66, 66, 0.4753) 76.04%,
    rgba(66, 66, 66, 0) 100%
  );
  backdrop-filter: blur(47.2917px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.swiper-info {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 1fr;
  gap: 5%;
  flex-basis: calc(100% - 360px);
  padding-left: 60px;
}
.swiper-info__item {
  font-size: 22px;
}
.swiper-info__item span {
  display: block;
  font-size: 17px;
  color: #bcbcbc;
  margin-top: 11px;
}
.swiper-info__top {
  grid-column: 1 / 5;
  grid-row: 1 / 2;
  font-size: 28px;
}
.swiper-cover {
  width: 225px;
  height: 225px;
  position: relative;
  overflow: hidden;
}
.swiper-cover__img {
  width: 225px;
  height: 225px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}
@media (max-height: 750px) {
  .swiper-slide__img {
    width: auto;
    height: 80vh;
    left: 15%;
  }
}
@media (max-height: 430px) {
  .content-sidebar__item {
    margin-top: 30px;
  }
  .content-sidebar__list {
    margin-bottom: 30px;
  }
}
@media (max-height: 300px) {
  .content-sidebar__item {
    margin-top: 30px;
  }
  .content-sidebar__button {
    height: 50px;
  }
}

@media (max-width: 1200px) {
  .swiper-cover, .swiper-cover__img {
    width: 18vw;
    height: 18vw;
  }
  .swiper-info {
    flex-basis: calc(100%-26vw);
  }
  .swiper-footer {
    gap: 8vw;
  }
}
